.radio-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &-label {
        display: block;
        font-size: $font14;
        font-weight: $font-w-sb;
        color: $color-text-gray-light;
        margin-bottom: 8px;
    }
    &-required {
        font-size: $font14;
        color: $color-error;
    }
    &-items {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
