.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &-input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }

  &-label {
    position: relative;
    display: inline-flex;
    align-items: center;
    min-height: 18px;
    padding-left: 34px;
    font-size: $font16;
    font-weight: $font-w-m;
    color: $color-text-gray;
    line-height: 140%;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 24px;
      height: 24px;
      border: 1px solid $color-input-border;
      border-radius: 50%;
      background: $color-white;
      transform: translateY(-50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 5px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: $color-primary;
      transform: translateY(-50%) scale(0);
      transition: transform 0.15s;
    }
  }

  &-input:checked + &-label {
    font-weight: $font-w-b;
    &::before {
      border-color: $color-primary;
    }

    &::after {
      transform: translateY(-50%) scale(1);
    }
  }

  &-input:disabled + &-label {
    color: $color-input-placeholder;
    cursor: not-allowed;

    &::before,
    &::after {
      opacity: 0.4;
    }
  }
}
