.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &-input {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
  }

  &-label {
    position: relative;
    display: inline-flex;
    align-items: center;
    min-height: 18px;
    padding-left: 34px;
    font-size: $font16;
    font-weight: $font-w-m;
    color: $color-text-gray;
    line-height: 140%;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 18px;
      height: 18px;
      border: 3px solid #CCCCCC;
      border-radius: 50%;
      background: $color-white;
      transform: translateY(-50%);
    }
  }

  &-input:checked + &-label {
    font-weight: $font-w-b;
    &::before {
      width: 12px;
      height: 12px;
      border:6px solid $color-primary;
    }
  }

  &-input:disabled + &-label {
    color: $color-input-placeholder;
    cursor: not-allowed;

    &::before {
      opacity: 0.4;
    }
  }
}
