.radio {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  &__input {
    display: none;
  }

  &__icon {
    display: inline-flex;
    flex-shrink: 0;
  }

  &__icon--checked {
    display: none;
  }

  &__input:checked ~ &__icon--checked {
    display: inline-flex;
  }

  &__input:checked ~ &__icon--unchecked {
    display: none;
  }

  &__label {
    color: $color-text-gray;
    font-size: 12px;
    font-weight: 700;
    line-height: 140%;
  }

  &__input:disabled ~ &__label {
    color: $color-input-placeholder;
  }

  &__input:disabled ~ &__icon {
    opacity: 0.4;
  }
}
