.input-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    &-group {
        width: 100%;
    }

    &-label {
        display: block;
        font-size: $font14;
        font-weight: $font-w-sb;
        color: $color-text-gray-light;
        margin-bottom: 8px;
    }

    &-required {
        padding-left: 2px;
        font-size: $font14;
        color: $color-error;
    }

    &-hint {
        margin-top: 6px;
        font-size: $font11;
        font-weight: $font-w-r;
        color: $color-text-gray-light;
    }

    &-error {
        margin-top: 6px;
        font-size: $font12;
        font-weight: 400;
        color: $color-error;
    }

    &.error {
        border-color: $color-error;
    
        &:focus {
            border-color: $color-error;
        }
    }
}

input.input {
    width: 100%;
    padding: 12px 16px 13px;
    border: 1px solid $color-border;
    border-radius: 4px;
    background: $color-white;
    font-size: $font14;
    font-weight: $font-w-r;
    line-height: normal;
    color: $color-text-gray;
    outline: none;

    &::placeholder {
        font-size: $font14;
        color: $color-input-placeholder;
    }

    &:focus {
        border-color: $color-hover;
    }

    &:disabled {
        background: $color-disabled;
        color: $color-text-gray-9;
        cursor: not-allowed;
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $color-white inset !important;
        -webkit-text-fill-color: $color-text-gray !important;
        transition: background-color 5000s ease-in-out 0s;
    }

}