.input-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    &-group {
        width: 100%;
    }

    &-label {
        display: block;
        font-size: $font14;
        font-weight: $font-w-b;
        color: $color-text-black;
        margin-bottom: 8px;
    }

    &-required {
        font-size: $font14;
        color: $color-error;
    }

    &-error {
        margin-top: 6px;
        font-size: $font12;
        font-weight: 400;
        color: $color-error;
    }
}

input.input {
    width: 100%;
    padding: 12px 16px 13px;
    border: 1px solid $color-input-border;
    background: $color-white;
    font-size: $font14;
    font-weight: $font-w-r;
    line-height: normal;
    color: $color-text-gray;
    outline: none;

    &::placeholder {
        color: $color-input-placeholder;
    }

    &:focus {
        border-color: $color-hover;
    }

    &--error {
        border-color: $color-error;

        &:focus {
            border-color: $color-error;
        }
    }

    &:disabled {
        background: $color-disabled;
        color: $color-input-placeholder;
        cursor: not-allowed;
    }
}