.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  border-radius: 10px;
  font-size: $font14;
  font-weight: $font-w-sb;
  white-space: nowrap;

  &-normal {
    background: #F4F4F5;
    color: $color-text-gray;
  }

  &-important {
    background: #E6F0FD;
    color: $color-primary;
  }

  &-urgent {
    background: #FFE7E7;
    color: #F00;
  }

  &-urgent {
    background: #FF4C4E;
    color: $color-white;
  }

  &-partial {
    background: #FCA335;
    color: $color-white;
  }

  &-sent {
    background: #228DF5;
    color: $color-white;
  }
}
