.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  border-radius: 10px;
  font-size: $font14;
  font-weight: $font-w-sb;
  white-space: nowrap;

  &--normal {
    background: #F3F4F6;
    color: #4B5563;
  }

  &--important {
    background: #FEF3C7;
    color: #B45309;
  }

  &--urgent {
    background: #FEE2E2;
    color: #B91C1C;
  }
}
