.full-pop {
    position: fixed;
    inset: 0;
    z-index: 900;
    display: flex;
    flex-direction: column;
    max-width: 480px;
    margin: 0 auto;
    background: $color-white;

    &-head {
        position: static;
        transform: none;
        max-width: none;
    }

    &-body {
        display: flex;
        gap: 20px;
        flex-direction: column;
        padding: 20px;
        overflow-y: auto;
    }

    &-foot {
        padding: 12px 20px 20px;
    }
}
