.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  min-width: 100px;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s, border-color 0.15s;
  background-color: $color-primary;
  color: $color-white;
  font-size: 12px;
  font-weight: 600;
  line-height: 140%;

  &__icon {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
  }

  &:disabled {
    background: $color-disabled;
    color: $color-input-placeholder;
    cursor: not-allowed;
  }

  &--primary {
    &:not(.btn--full):hover:not(:disabled) {
      background-color: $color-hover;
    }

    &.btn--full {
      font-size: 20px;
    }
  }

  &--secondary {
    background-color: $color-white;
    color: $color-text-gray;
    border-color: $color-border;

    &:disabled {
      background: $color-white;
      border-color: $color-disabled;
    }

    &:not(.btn--full):hover:not(:disabled) {
      border-color: $color-hover;
    }

    &.btn--full {
      font-size: 14px;
    }
  }


  &--full {
    width: 100%;
    padding: 8px 0;
    border-radius: 16px;
    min-width: unset;
  }

  &--inbox {
    background-color: $color-white;
    color: $color-text-gray;
    border-color: $color-border;
    border-radius: 8px;

    &:disabled {
      background: $color-disabled;
      border-color: transparent;
      color: $color-input-placeholder;
    }

  }
}