.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 14px 12px;
  min-width: 100px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: $color-primary;
  text-align: center;
  color: $color-white;
  font-size: $font16;
  font-weight: $font-w-m;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s, border-color 0.15s;

  &-icon {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    width: 16px;
    height: 16px;
  }

  &:disabled {
    background: #cdcdcd;
    cursor: not-allowed;
  }

  &-primary {
    width: 100%;
    &:not(.btn-full):hover:not(:disabled) {
      background-color: $color-hover;
      font-weight: $font-w-b;
    }
  }

  &-secondary {
    background-color: $color-white;
    color: $color-text-gray;
    border-color: $color-border;

    &:disabled {
      background: $color-white;
      border-color: $color-disabled;
    }

    &:not(.btn-full):hover:not(:disabled) {
      border-color: $color-hover;
      color: $color-hover;
      font-weight: $font-w-b;
    }

    &.btn-full {
      padding: 10px 12px;
    }
  }


  &-full {
    width: 100%;
    padding: 14px 12px;
    border-radius: 10px;
    min-width: unset;
  }

  &-logout {
    padding: 10px 14px;
    min-width: 0;
    width: fit-content;
    border-radius: 100px;
    background-color: #3571FF;
    font-size: $font14;
    font-weight: $font-w-sb;
    color: $color-white;
  }

  &-more {
    margin: 16px 0 0;
    background-color: $color-border;
    font-weight: $font-w-r;
    color: $color-text-gray;
  }

  &-send {
    display: flex;
    align-items: center;
    gap: 6px;
    min-width: 0;
    width: fit-content;
    padding: 4px 8px 4px 6px;
    border: 1px solid $color-primary;
    border-radius: 4px;
    background: none;
    color: $color-primary;
    font-size: $font14;
    font-weight: $font-w-m;
    cursor: pointer;
    line-height: 1.4;

    svg {
      width: 14px;
      height: 14px;
    }

  }
}