.main {
  height: 100svh;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;

  .intro-section  {
    padding: 0 20px;
  
    .banner {
      &-date {
        margin-bottom: 12px;
        font-size: $font24;
        font-weight: $font-w-b;
        color: $color-text-black;
      }
    
      &-text {
        font-size: $font16;
        font-weight: $font-w-r;
        color: $color-text-gray-light;
      }
    
      &-btn {
        margin-top: 24px;
        padding: 15px 12px 16px;
        border-radius: 44px;
        background-color: $color-primary;
        font-size: $font18;
        font-weight: $font-w-sb;
        color: $color-white;
        box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.20);
      }
    }
    
    &:not(:has(.draft-card)) {
      &+ .main-section {
          margin-top: 20px;
      }
    }
  }

  .main-content {
    flex: 1;
    min-height: 0;
    padding: 20px 0 95px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
  }
  .main-section {
    border-radius: 20px 20px 0 0;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      border-top: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
      border-radius: 20px 20px 0 0;
      background-color: $color-white;
      box-shadow: 0 -4px 16px 0 rgba(0, 0, 0, 0.10);
    }

    &-title {
      font-size: $font16;
      font-weight: $font-w-sb;
      color: $color-text-black;
    }
  }

  &-filter {
    position: relative;
    width: auto;
    .select-btn {
      gap: 4px;
      padding: 0;
      border: 0;
      border-radius: 0;
      &.is-selected {
        color: $color-text-gray;
      }
    }
    .select-arrow {
      width: 16px;
      height: 16px;
    }
    .select-list {
      position: absolute;
      right: 0;
      width: 90px;
      border: 0;
      border-radius: 12px;
      box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.15);
    }
    .select-option:hover,
    .select-option.is-selected {
      background: transparent;
      font-weight: $font-w-sb;
      color: $color-primary;
    }
  }

  &-empty {
    padding: 40px 0;
    background-color: $color-white;
    font-size: $font14;
    color: $color-text-gray-light;
    text-align: center;
  }

}