textarea.textarea {
    display: block;
    width: 100%;
    min-height: 45px;
    max-height: 77px;
    padding: 12px;
    border: 1px solid $color-border;
    border-radius: 4px;
    background: $color-white;
    font-size: $font14;
    font-weight: $font-w-r;
    line-height: normal;
    color: $color-text-gray;
    outline: none;
    overflow-y: auto;
    resize: none;

    &::placeholder {
        font-size: $font14;
        color: $color-text-gray-9;
    }

    &:focus {
        border-color: $color-hover;
    }

    &:disabled,
    &:read-only {
        background: $color-disabled;
        color: $color-input-placeholder;
        cursor: not-allowed;
    }

    &.error {
        border-color: $color-error;

        &:focus {
            border-color: $color-error;
        }
    }
}
