.button-container {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 0 20px;

    .btn {
        &:first-child:nth-last-child(2):not(.alert-pop-btns .btn) {
            min-width: 100px;

            & + .btn {
                flex: 1 1 auto;
                width: auto;
                min-width: 0;
            }
        }
    }
}
