.week-card {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px 20px;
  border: 1px solid $color-text-gray-light;
  border-radius: 16px;
  width: 100%;

  &-partial {
    border-color: #B45309;

    .week-card-status {
      color: #B45309;
    }
  }

  &-sent {
    border-color: #15803D;

    .week-card-status {
      color: #15803D;
    }
  }

  &-header {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
    color: $color-text-black;
    white-space: nowrap;
  }

  &-status {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: auto;
    color: $color-text-gray-light;
  }

  &-status-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
  }

  &-content {
    padding-top: 10px;

    p {
      font-size: 14px;
      font-weight: 400;
      line-height: 1.6;
      color: $color-text-black;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
