@mixin info-icon(
    $top: 12px,
    $left:8px,
    $img: "../../assets/svg/ico_info.svg",
    ) {
    &::before {
        content: "";
        position: absolute;
        top: $top;
        left: $left;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(#{$img}) no-repeat center center;
        background-size: contain;
    }
}