// Colors
$color-primary: #2563EB;
$color-secondary: #E7F2FF;
$color-background: #F7F8FA;
$color-hover: #1C49C9;

$color-border: #EEEEEE;
$color-border-strong: #CBD5E1;

$color-text-black: #222222;
$color-text-gray: #454545;
$color-text-gray-light: #757575;
$color-text-gray-9: #999999;

$color-disabled: #F1F5F9;
$color-input-placeholder: #94A3B8;

$color-white: #fff;
$color-error: #FF0000;

// fonts
$font12: 0.75rem;
$font14: 0.875rem;
$font16: 1rem;
$font18: 1.125rem;
$font20: 1.25rem;
$font22: 1.375rem;
$font24: 1.5rem;
$font32: 2rem;
$font34: 2.125rem;

// font-weight
$font-w-l: 300;
$font-w-r: 400;
$font-w-m: 500;
$font-w-sb: 600;
$font-w-b: 700;
$font-w-eb: 800;