// Colors
$color-primary: #2563EB;
$color-secondary: #E7F2FF;
$color-background: #F7F8FA;
$color-hover: #1C49C9;

$color-border: #E5E7EB;
$color-border-strong: #CBD5E1;

$color-text-black: #222222;
$color-text-gray: #454545;
$color-text-gray-light: #757575;

$color-disabled: #F1F5F9;
$color-input-border: #D1D5DB;
$color-input-placeholder: #9CA3AF;