.select {
    position: relative;
    width: 100%;
    &-label {
        display: flex;
        align-items: center;
        gap: 2px;
        margin-bottom: 8px;
        font-size: $font14;
        font-weight: $font-w-b;
        color: $color-text-black;
    }
    &-required {
        font-size: $font14;
        color: $color-error;
    }
    &-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        border: 1px solid $color-input-border;
        background: $color-white;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        color: $color-text-black;
        text-align: left;
        cursor: pointer;
        outline: none;
        &:disabled {
            background: $color-disabled;
            color: $color-input-placeholder;
            cursor: not-allowed;
        }
    }
    &-arrow {
        flex-shrink: 0;
        transition: transform 0.2s;
        &.is-open {
            transform: rotate(180deg);
        }
    }
    &-placeholder {
        color: $color-input-placeholder;
    }
    &-list {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 100;
        max-height: 200px;
        overflow-y: auto;
        border: 1px solid $color-input-border;
        background: $color-white;
    }
    &-option {
        padding: 10px;
        font-size: 12px;
        font-weight: 300;
        line-height: normal;
        color: $color-text-gray-light;
        cursor: pointer;
        &:hover,
        &.is-selected{
            background: #E5EEF8;
            color: $color-text-gray;
        }
    }
}
