.select {
    position: relative;
    width: 100%;
    &-label {
        display: flex;
        align-items: center;
        gap: 2px;
        margin-bottom: 6px;
        font-size: $font14;
        font-weight: $font-w-sb;
        color: $color-text-gray-light;
    }
    &-required {
        font-size: $font14;
        color: $color-error;
    }
    &-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        border: 1px solid $color-border;
        border-radius: 4px;
        background: $color-white;
        font-size: 14px;
        font-weight: 500;
        line-height: normal;
        color: $color-text-gray-9;
        text-align: left;
        cursor: pointer;
        &.is-open {
            border-color: #9AC8FF;
        }
        &.is-selected {
            color: $color-text-black;
        }
        &:disabled {
            background: $color-disabled;
            color: $color-input-placeholder;
            cursor: not-allowed;
        }
    }
    &-arrow {
        flex-shrink: 0;
        transition: transform 0.2s;
        &.is-open {
            transform: rotate(180deg);
        }
    }
    &-placeholder {
        color: $color-input-placeholder;
    }
    &-list {
        max-height: 198px;
        margin-top: 12px;
        overflow-y: auto;
        border: 1px solid #ccc;
        border-radius: 4px;
        background: $color-white;
    }
    &-option {
        padding: 12px 18px;
        font-size: $font14;
        font-weight: $font-w-r;
        line-height: normal;
        color: $color-text-gray;
        cursor: pointer;
        &:hover,
        &.is-selected{
            background: #E6F0FD;
            color: $color-text-black;
        }
    }
}
