.admin {
  height: 100svh;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;

  .main-content {
    flex: 1;
    min-height: 0;
    padding: 0 0 75px;
    overflow-y: auto;
  }

  .main-section {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      border-bottom: 1px solid $color-border;
    }

    &-title {
      font-size: $font16;
      font-weight: $font-w-sb;
      color: $color-text-black;
    }

    .button-container {
      padding-bottom: 30px;
    }

    .btn-more {
      margin: 0;
    }

    .admin-card-list {
      margin-bottom: 28px;
    }
  }

}
