.entry {
    max-width: 480px;
    padding: 0 0 80px;
    margin: 0 auto;
    &-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        max-width: 480px;
        min-height: 0;
        height: calc(100svh - 75px);
        padding: 20px 20px 80px;
        margin: 0 auto;
        overflow-y: auto;
    }
    &-section {
        display: block;
        width: 100%;
        &+.entry-section {
            padding-top: 20px;
            border-top: 1px solid $color-border-strong;
        }
        &+.button-container {
            margin-top: 10px;
        }
    }
    &-form {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }
    &-title {
        margin-bottom: 26px;
        font-size: $font18;
        font-weight: $font-w-sb;
        color: $color-text-gray;
    }
}
