@use '@/styles/mixin' as *;

.my-password {
  height: 100svh;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;

  &-content {
    flex: 1;
    min-height: 0;
    padding: 0 20px 175px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  &-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 0;
  }

  .acc-info-box {
    position: relative;
    padding: 12px 8px;
    border-radius: 4px;
    background-color: $color-background;
    @include info-icon();

    .info-id {
      padding-left: 28px;
      font-size: $font14;
      font-weight: $font-w-m;
      color: $color-text-black;
    }
  }
}
