.entry-view {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 480px;
    height: 100svh;
    margin: 0 auto;
    background: $color-background;
    color: $color-text-black;
    overflow: hidden;

    .entry-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: auto;
        width: 100%;
        min-height: 0;
        padding: 20px 0 0 0;
        gap: 30px;
        overflow-y: auto;
    }

    &-empty {
        font-size: $font14;
        color: $color-text-gray-light;
        text-align: center;
        padding: 40px 0;
    }

    &-foot {
        flex: 0 0 auto;
        padding: 32px 0 30px;
        background: $color-white;
    }

    &-section {
        display: block;
        width: 100%;
        padding: 0 20px;

        &-work {
            display: block;
            width: 100%;
            padding: 30px 20px;
            background-color: $color-white;

            .entry-title {
                margin-bottom: 24px;
            }
        }
    }

    .select-option {
        text-align: left;
    }
}

.view {
    &-info {
        display: block;
        width: 100%;
        padding: 10px 20px;
        border-radius: 12px;
        background: $color-white;
    }

    &-row {
        width: 100%;
        padding: 16px 0;

        &+.entry-view-row {
            margin-top: 22px;
        }
    }

    &-label {
        display: inline-block;
        width: 65px;
        font-size: $font14;
        font-weight: $font-w-l;
        color: $color-text-gray;
        text-align: left;
    }

    &-value {
        display: inline-block;
        width: calc(100% - 65px);
        font-size: $font14;
        font-weight: $font-w-m;
        color: $color-text-gray;
        text-align: right;
        word-break: keep-all;
        overflow-wrap: anywhere;

        .badge {
            padding: 4px 8px;
            border-radius: 4px;
            font-size: $font14;
            font-weight: $font-w-m;
            line-height: 1.4;
        }
    }
}