.mypage {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;

  &-header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    height: auto;
    background: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 100;
  }

  &-user-info {
    display: flex;
    align-items: baseline;
    gap: 4px;
    color: $color-text-black;
  }

  &-username {
    font-size: $font20;
    font-weight: $font-w-m;
  }

  &-position {
    font-size: $font16;
    font-weight: $font-w-r;
  }

  &-content {
    flex: 1;
    padding: 70px 20px 95px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-section {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &-section-title {
    font-size: $font18;
    font-weight: $font-w-b;
    color: $color-text-black;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}