@use '@/styles/mixin' as *;

.mypage {
  height: 100svh;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;

  &-content {
    flex: 1;
    min-height: 0;
    padding: 0 20px 75px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    overflow-y: auto;
  }

  &-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &-section-title {
    font-size: $font16;
    font-weight: $font-w-m;
    color: $color-text-gray-light;
    line-height: 1.4;
  }

  &-menu-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &-menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-family: inherit;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-title-row {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &-title {
      display: block;
      font-size: $font18;
      font-weight: $font-w-m;
      color: $color-text-black;
      line-height: 1.5;
    }

    &-tag {
      background: #E6F0FD;
      color: #3571FF;
      font-size: $font12;
      font-weight: $font-w-m;
      padding: 4px 6px;
      border-radius: 100px;
      line-height: 1.4;

      &.is-registered {
        background: $color-primary;
        color: $color-white;
      }
    }

    &-desc {
      display: block;
      font-size: $font14;
      font-weight: $font-w-r;
      color: $color-text-gray-light;
      line-height: 1.5;
    }

    &-arrow {
      width: 14px;
      height: 14px;
      flex-shrink: 0;
      transform: rotate(180deg);
    }
  }

  &.is-admin {
    .bottom-nav {
      justify-content: center;
      gap: 120px;
    }
  }
}

.user-info-section {
  padding: 16px 0;
  border-bottom: 1px solid $color-border;
  color: $color-text-black;

  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .username {
    padding-right: 3px;
    font-size: $font24;
    font-weight: $font-w-b;
  }

  .user-position {
    font-size: $font22;
    font-weight: $font-w-m;
  }

  .user-desc {
    margin-top: 8px;
    font-size: $font14;
    font-weight: $font-w-r;
    color: $color-text-gray-light;
  }
}
