@use '@/styles/mixin' as *;

.mypage {
  height: 100svh;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;

  &-header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    height: auto;
    background: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 100;
  }

  &-content {
    flex: 1;
    min-height: 0;
    padding: 0 20px 175px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
  }

  &-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &-section-title {
    font-size: $font18;
    font-weight: $font-w-sb;
    color: $color-text-gray;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  > .button-container {
    position: fixed;
    left: 50%;
    bottom: 75px;
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    padding: 0 20px 28px;
    background: $color-white;
    z-index: 90;
  }

  .scroll-top {
    bottom: 167px;
  }

  .acc-info-box {
    position: relative;
    padding: 12px 8px;
    border-radius: 4px;
    background-color: $color-background;
    @include info-icon();
    .info-id {
      padding-left: 28px;
      font-size: $font14;
      font-weight: $font-w-m;
      color: $color-text-black;
    }
  }
}

.swit-connect-box {
  display: flex;
  align-items: center;
  gap: 16px;

  .swit-status {
    font-size: $font14;
    font-weight: $font-w-m;
    color: $color-text-gray-light;

    &.connected {
      color: $color-primary;
    }
  }
}

.user-info-section {
  padding: 16px 0;
  border-bottom: 1px solid $color-border;
  color: $color-text-black;
  .user-info {
    display: flex;
    justify-content: space-between;
  }
  .username {
    padding-right: 3px;
    font-size: $font24;
    font-weight: $font-w-b;
  }
  .user-position {
    font-size: $font22;
    font-weight: $font-w-m;
  }
  .user-desc {
    margin-top: 8px;
    font-size: $font14;
    font-weight: $font-w-r;
    color: $color-text-gray-light;
  }
}
