.completed-task-card {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-border;
  border-radius: 10px;
  width: 100%;
  overflow: hidden;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: $color-secondary;
    border-bottom: 1px solid $color-border;
  }

  &-title {
    font-size: $font14;
    font-weight: $font-w-b;
    color: $color-text-black;
  }

  &-status {
    font-size: $font14;
    font-weight: $font-w-r;
    color: $color-text-gray-light;
  }

  &-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;

    li {
      font-family: 'Noto Sans KR', sans-serif;
      font-size: $font14;
      font-weight: $font-w-r;
      color: $color-text-gray;
    }
  }

  &-footer {
    padding: 0 10px 10px;
  }
}
