.completed-task-card {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-border;
  border-radius: 12px;
  width: 100%;
  overflow: hidden;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
  }

  &-title {
    font-size: $font16;
    font-weight: $font-w-b;
    color: $color-text-black;
  }

  &-send-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px 8px 4px 6px;
    border: 1px solid $color-primary;
    border-radius: 4px;
    background: none;
    color: $color-primary;
    font-size: $font14;
    font-weight: $font-w-m;
    cursor: pointer;
    line-height: 1.4;

    svg {
      width: 14px;
      height: 14px;
    }

  }

  &-sent-icon {
    display: flex;
    align-items: center;
    gap: 6px;
    color: $color-primary;
    font-size: $font14;
    font-weight: $font-w-m;
  }

  &-items {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 20px;
    background: $color-background;
    list-style: decimal;

    li {
      font-size: $font14;
      font-weight: $font-w-r;
      color: $color-text-gray;
      line-height: 1.4;
      margin-left: 20px;
    }
  }
}