.completed-task-card {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-border;
  border-radius: 12px;
  width: 100%;
  overflow: hidden;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
  }

  &-title {
    font-size: $font16;
    font-weight: $font-w-b;
    color: $color-text-black;
  }

  &-sent-icon {
    display: flex;
    align-items: center;
    gap: 6px;
    color: $color-primary;
    font-size: $font14;
    font-weight: $font-w-m;
  }

  &-items {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 20px;
    background: $color-background;
    list-style: decimal;

    li {
      font-size: $font14;
      font-weight: $font-w-r;
      color: $color-text-gray;
      line-height: 1.4;
      margin-left: 20px;
    }
  }
}