.draft-card {
    width: 100%;
    border-radius: 16px;
    padding: 16px 20px;

    &-btn {
        display: inline-flex;
        align-items: center;
        margin-bottom: 12px;
        font-size: $font16;
        font-weight: $font-w-b;
        color: $color-text-black;
    }

    &-date {
        font-size: $font14;
        font-weight: $font-w-l;
        color: $color-text-gray;
    }
}