.checkbox {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  width: fit-content;

  &-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  &-box {
    width: 20px;
    height: 20px;
    border: 1px solid $color-border-strong;
    border-radius: 4px;
    background: $color-white;
    flex-shrink: 0;
    transition: background 0.15s, border-color 0.15s;

    .checkbox-input+& {
      background: #CDCDCD;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'%3E%3Cpath d='M3.4625 7.32503L0 3.86251L0.787506 3.07088L3.4625 5.74585L9.20832 0L10 0.791728L3.4625 7.32503Z' fill='%23ffffff'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }

    .checkbox-input:checked+& {
      background: $color-primary;
      border-color: $color-primary;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'%3E%3Cpath d='M3.4625 7.32503L0 3.86251L0.787506 3.07088L3.4625 5.74585L9.20832 0L10 0.791728L3.4625 7.32503Z' fill='%23ffffff'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &-label {
    font-size: $font14;
    font-weight: $font-w-r;
    color: $color-text-gray;
  }
}