@use '@/styles/mixin' as *;

.auth-layout {
  height: 100svh;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: hidden;

  &-body {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: max(40px, 100px) 20px 40px;
    gap: 40px;
    overflow-y: auto;
  }

  &-title {
    margin-bottom: 12px;
    font-size: $font24;
    font-weight: $font-w-b;
    color: $color-text-black;
    line-height: 1.3;
  }
  &-sub {
    font-size: $font16;
    font-weight: $font-w-r;
    color: $color-text-gray-light;
  }

  &-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  &-footer {
    padding: 30px 20px calc(30px + var(--keyboard-offset-bottom, 0px));
    transition: padding-bottom .2s ease;
  }
}

.auth-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  input {
    height: 52px;
    font-size: $font18;
  }
  label {
    font-size: 0;
  }
}

.auth-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-link {
  display: flex;
  gap: 4px;
  margin-left: auto;
  font-size: $font14;
  font-weight: $font-w-r;
  color: $color-text-gray-light;
  cursor: pointer;
  text-align: left;
  line-height: 1.5;
  &:hover {
    color: $color-hover;
  }
  &.arr {
    color: $color-primary;
  }
}

.info {
  &-box {
    position: relative;
    padding: 12px 8px;
    border-radius: 4px;
    background-color: $color-background;
  }
  &-txt {
    padding-left: 28px;
    font-size: $font14;
    font-weight: $font-w-r;
    line-height: 1.5;
    @include info-icon();
  }
}
