@use '@/styles/mixin' as *;

.acc-info-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.acc-info {
    position: relative;
    display: inline-block;
    padding: 12px 12px 12px 46px;
    border-radius: 4px;
    background-color: $color-background;
    font-size: $font14;
    &::before {
        transform: translateY(-50%);
    }

    &.user {
        @include info-icon( 50%, 12px, 24px, 24px, '../../assets/svg/ico_user_info.svg');
    }

    &.date {
        @include info-icon( 50%, 12px, 24px, 24px, '../../assets/svg/ico_calendar.svg');
    }

    .tit {
        position: relative;
        padding: 0 10px;
        font-weight: $font-w-eb;
        color: $color-text-black;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 1px;
            height: 11px;
            background-color: #dddddd;
        }
    }

    .sub-tit {
        display: inline-block;
        padding: 0 10px;
        font-weight: $font-w-r;
        color: $color-text-gray;
    }
}